<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>

<h1>Register new user</h1>

<!-- th:action replaces action -->
<form th:action="@{/register}" th:object="${customUser}" method="post">
    <label>
        Username
        <input type="text" name="username" th:field="*{username}"> <!-- name must match formLogin defaults -->
    </label>

    <label>
        Password
        <input type="password" name="password" th:field="*{password}">
    </label>

    <button type="submit">Register</button>

    <!-- fields.hasAnyErrors comes from BindingResult aka @Valid -->
    <div th:if="${#fields.hasAnyErrors()}">
        <ul>
            <li th:each="error : ${#fields.allErrors()}" th:text="${error}"></li>
        </ul>
    </div>

</form>

</body>
</html>ml>